#window_table{
    width:600px;
    height:500px;
    background-color: darkkhaki;
    float: left;

}
#window_output{
    width:500px;
    height:500px;
    background-color: #506fbd;
    overflow: auto;
    /*float: left;*/
}
#features_window{
    float: left;
    overflow: auto;
    width:500px;
    height:500px;
}
#targets_window{
    /*float: left;*/
    overflow: auto;
    width:100px;
    height:500px;
}
.btn{
    float: left;
    padding: 15px 32px;
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    overflow: auto;
    height: 200px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#radiobuttons {
    display: none;
    border: 1px #dadada solid;
    overflow: auto;
    height: 200px;
}

#radiobuttons label {
  display: block;
}

#radiobuttons label:hover {
  background-color: #1e90ff;
}