{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}" />
    <script src="{% static 'myapp/jquery.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{#    <script src="http://www.eu4editor.com/string_transcoder.js"></script>#}


</head>


<body>


  <main>
    {% block content %}
    {% endblock %}
  </main>


</body>

</html>