{% extends 'myapp/_base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'myapp/jquery.js'%}"></script>
    <script>
        var url = "{% static '' %}";
    </script>


    <div id="window_table">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Number of row</th>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                <td>{{ forloop.counter }}</td>
                {% for value in row.values %}
                  <td>{{value}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div id="window_output">
        {% for stat in status %}
            <p><b>{{ stat }}</b></p>
        {% endfor %}
    </div>
    <form action="working" method="post" id="form">
    {% csrf_token %}
        <input type="submit" class="btn" value="RUN" id="start_btn">
        <input type="submit" class="btn" value="STOP" id="stop_btn" disabled>
    </form>


{#  <p><a href="{% url 'home' %}">Return to home</a></p>#}
{% endblock %}
