{% extends 'myapp/_base.html' %}
{% load static %}


{% block content %}
    <script src="{% static 'myapp/jquery.js'%}"></script>
    <script>
        var url = "{% static '' %}";
    </script>


    <div id="window_table">
    <div id="features_window">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Number of row</th>
                {% for col in columns_feature %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows_feature %}
                <tr>
                <td>{{ forloop.counter }}</td>
                {% for value in row.values %}
                  <td>{{value}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div id="targets_window" width="100%" cellspacing="0">
        <table>
            <thead>
            <tr>
                <th>Number of row</th>
                {% for col in column_targets %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for row in rows_targets %}
                <tr>
                <td>{{ forloop.counter }}</td>
                {% for value in row.values %}
                  <td>{{value}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    </div>
    <div id="window_output">
        {% for stat in status %}
            <p><b>{{ stat }}</b></p>
        {% endfor %}
    </div>
    <form action="" method="post">
    {% csrf_token %}
        <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
            <select>
                <option>Select an option</option>
            </select>
            <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
        {% for col, val in status_checkboxes.items %}
            <label>
        <input type="checkbox" name="checks[]" value="{{ forloop.counter }}"
        {%if val %}checked="checked"{% endif %}/>
            {{col}}</label>
        {% endfor %}
    </div>
        </div>
        <div class="multiselect">
            <div class="selectBox" onclick="showRadiobuttons()">
            <select>
                <option>Select an option</option>
            </select>
            <div class="overSelect"></div>
            </div>
            <div id="radiobuttons">
                {% for col, val in status_radio.items %}
                <label>
                        <input type="radio" name="checksradio[]" value="{{ forloop.counter }}"
                                {%if val %}checked="checked"{% endif %}/>
                        {{col}}
                </label>
                {% endfor %}
        </div>
        </div>

    <input type="submit" class="btn" value="Change" id="start_btn">
    </form>
    <form action="working" method="post" id="form">
    {% csrf_token %}
        <input type="radio" name="type_func" value="regression" checked>Regres
        <input type="radio" name="type_func" value="classification">Class
        <input type="radio" name="type_func" value="clustering">Clust
        <input type="submit" class="btn" value="RUN" id="start_btn">
        <input type="submit" class="btn" value="STOP" id="stop_btn" disabled>
    </form>


{#  <p><a href="{% url 'home' %}">Return to home</a></p>#}
{% endblock %}
